<div *ngIf="tour" class="tour-detail">
    <h2>{{ tour.safariName }}</h2>
    <div class="tour-images">
        <img *ngFor="let image of tour.tourImages" [src]="image?.image || 'default-image.jpg'" alt="Tour Image" />
    </div>
    <p>{{ tour.safariDescription }}</p>
    <p><strong>Start Date:</strong> {{ tour.startDate | date }}</p>
    <p><strong>End Date:</strong> {{ tour.endDate | date }}</p>
    <p><strong>Price:</strong> {{ tour.price | currency:'Ksh' }}</p>
    <button class="explore-btn">Book Now</button>
    <!-- New button to open modal -->
    <button (click)="openAddImageModal()">Add Image</button>
</div>

<div *ngIf="!tour" class="loading">
    <p>Loading tour details...</p>
</div>



<!-- Modal for adding images -->
<div class="modal" *ngIf="isAddImageModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeAddImageModal()">&times;</span>
        <h2>Add Images</h2>

        <form (ngSubmit)="submitImages()">
            <label for="imageFiles">Select Images:</label>
            <input type="file" id="imageFiles" (change)="onFilesSelected($event)" multiple />

            <button type="submit">Add Images</button>
        </form>
    </div>
</div>