<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-left">
        <img src="assets/logo.png" alt="SafariBookings Logo" class="logo">
    </div>
    <div class="navbar-center">
        <a href="#" class="nav-link">Safaris & Tours</a>
        <a href="#" class="nav-link">Countries & Parks</a>
        <a href="#" class="nav-link">Tour Operators</a>
    </div>
    <div class="navbar-right">
        <a href="#" class="nav-link list-link">
            <i class="fa fa-heart"></i> <span class="notification-badge">0</span>
        </a>
        <input type="text" class="search-bar" placeholder="Search">
    </div>
</nav>